html, body {
  height: 100%;
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

body {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  background-color: #fff;
}

body.connection-active {
  background-color: #222;
}

a {
  text-decoration: none;
  color: #7AC3FF;
}

#disconnectBtn div {
  display: inline-block;
  padding: 4px;
}

.form-wrapper {
  width: 350px;
  margin: auto;
  display: block;
}

.hidden {
  display: none !important;
}

.form-wrapper .form-horizontal .controls {
  margin-left: 90px;
}

#screen {
  cursor: none;
  margin: auto;
}

#vnc-client-screen {
  position: absolute;
  top: 99999px;
  left: -99999px;
  visibility: hidden;
}

#loading-bar {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

.controls {
  display: inline-block;
}

.control-label {
  width: 35px;
  display: inline-block;
  color: #444;
  font-size: 1em;
}

.form-wrapper input,
.form-wrapper button {
  font-size: 1em;
  margin-top: 10px;
  outline: none;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #999;
}

.form-wrapper button {
  background-color: #eee;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-wrapper input:focus,
.form-wrapper button:focus {
  border: 1px solid #333;
}